@import url(./grid.css);
@import url(./reset.css);


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


* {
    font-family: inherit;
}


html {
    scroll-behavior: smooth;
    /* overflow-y: hidden; */


}

body {
    font-family: "Inter", sans-serif;
    background-color: black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* overflow-x: hidden; */
    /* overflow-y: hidden; */
}

main {
    flex-grow: 1;
}

.url {
    text-decoration: none;
    
}

/* header */

.header {
    background-color: #212121;
}

.header_cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation_list {
    display: flex;
   gap: 50px;
}

.navigation_item {
    font-size: 23px;
    color: white;
}