@import url(./grid.css);
@import url(./reset.css);
@import url(./modes.css);
@import url(./legends.css);
@import url(./sesons.css);
@import url(./battlepass.css);

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


* {
    font-family: inherit;
}


html {
    scroll-behavior: smooth;
    /* overflow-y: hidden; */


}

body {
    font-family: "Inter", sans-serif;
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* overflow-x: hidden; */
    /* overflow-y: hidden; */
}

main {
    flex-grow: 1;
}

.url {
    text-decoration: none;

}

/* HEADER */

.header {
    background-color: #212121;
}

.header_cont {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation_list {
    display: flex;
    gap: 50px;
}

.navigation_item {
    font-size: clamp(1rem, 1vw, 2rem);
    /* font-size: 23px; */
    color: white;
    position: relative;
    transition: 0.2s linear;
    /* Добавлено 's' после времени для указания секунд */
}

.navigation_item::after {
    content: '';
    /* Добавляем псевдоэлемент */
    position: absolute;
    /* Позиционируем абсолютно */
    left: 0;
    /* Выравниваем слева */
    bottom: -2px;
    /* Расстояние от текста до подчеркивания */
    width: 0;
    /* Начальная ширина подчеркивания */
    height: 2px;
    /* Толщина подчеркивания */
    background-color: white;
    /* Цвет подчеркивания */
    transition: width 0.3s ease;
    /* Плавное изменение ширины подчеркивания */
}

.navigation_item:hover::after {
    width: 100%;
    /* Устанавливаем ширину подчеркивания на 100% при наведении */
}

/* PROMO */

.promo_head {
    background-size: cover;
    background-repeat: no-repeat;

    background-image: url('../img/promo_bgk.jpg');
}

.promo_logo {
    display: flex;
    justify-content: center;
}

.promo_logo img {
    width: 100%;
}


.promo_cont {
    padding-bottom: 292px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.promo_tittle {
    font-size: clamp(1.5rem, 2.2vw, 4rem);
    ont-size: clamp(1rem, 10vw, 2rem);
    /* font-size: clamp(1rem, 10vw, 2rem); */
    /* font-size: 25px; */
    color: white;
    text-align: center;
    /* width: 1000px; */
    font-weight: bold;
    margin-bottom: 50px;
}

.promo_disc {
    font-size: clamp(1.5rem, 1.9vw, 4rem);
    /* font-size: 25px; */
    text-align: center;
    color: white;
    /* width: 900px; */
    font-weight: 300;
    margin-bottom: 50px;
}

.promo_btn {
    text-transform: uppercase;
    padding: 23px 75px 23px 75px;
    color: white;
    font-size: 25px;
    background: none;
    border: 3px solid white;
    border-radius: 6px;
    font-weight: bold;
    transition: 0.1s linear;
}

.promo_btn:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    transition: 0.1s linear;
}

/* NEWS */

.news {
    background-image: url(../img/newsbgk.jpg);
}

.news_cont {
    background-size: cover;
    background-repeat: no-repeat;
    /* height: 1000px; */

}

.news_tittlr {
    padding-top: 37px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    color: white;
}

.news_ard {
    margin: 0 auto;
    background-color: #1E1C19;
    width: 400px;
    height: 530px;
    border-bottom: 5px solid #BE0000;
    transition: transform 0.2s ease;
}

.news_ard:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease;;
}

.battlepascard {
    border: none;
}

.battle_card {
    height: 400px;
}

.news_ard img {
    width: 100%;
}



.card_disc {
    display: flex;
    padding: 56px 10px 0px 10px;
    color: white;
    text-align: start;
    flex-direction: column;
    gap: 20px;
}

.card_tittle {
    /* text-align: center; */
    font-size: 28px;
}

.tittle_disc {
    font-size: 16px;
    width: 100%;
    /* text-align: center; */
}

.news_cards {
    justify-content: space-around;
    gap: 50px;
    padding-bottom: 90px;
}





/* UNDER FOOT */

.under_foot_cont {
    padding-bottom: 200px;
}


.under_foot {
    background-size: cover;
    background-repeat: no-repeat;

    background-image: url(../img/footbgk.jpg);
}


.under_foot_tittle {
    padding-top: 150px;
    color: white;
    font-size: 50px;
    font-weight: 400;
    text-align: center;
}

.under_foot_disc {
    line-height: 1.2em;
    font-size: 28px;
    font-weight: 300;
    color: white;
    text-align: center;
    padding-bottom: 150px;
}

.foot_emblems {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.foot_emblem_item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foot_emblem_item img {
    width: 400px;

}

.emblem_name {
    font-size: 29px;
    color: white;
    font-weight: bold;
}



/* FOOTER */

.footer {
    /* padding: 20px; */
    background-color: #212121;
    /* height: 500px; */
    padding-bottom: 60px;
}

.footer_nav {
    padding-bottom: 20px;
    justify-content: space-between;
    border-bottom: 0.5px solid #767676;
    padding-top: 55px;
}

.foot_nav_item {
    color: #767676;
}

.footer_emblems img {
    /* width: 90px; */
}

.foot_nav_item::after {
    content: '';
    /* Добавляем псевдоэлемент */
    position: absolute;
    /* Позиционируем абсолютно */
    left: 0;
    /* Выравниваем слева */
    bottom: -2px;
    /* Расстояние от текста до подчеркивания */
    width: 0;
    /* Начальная ширина подчеркивания */
    height: 2px;
    /* Толщина подчеркивания */
    background-color: #767676;
    /* Цвет подчеркивания */
    transition: width 0.3s ease;
    /* Плавное изменение ширины подчеркивания */
}

.foot_nav_item:hover::after {
    width: 100%;
    /* Устанавливаем ширину подчеркивания на 100% при наведении */
}

.footer_emblems {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
}

@media (max-width: 1222px) {
    .footer_emblems {
        flex-direction: column;
        gap: 80px;
    }
}

@media (max-width: 777px) {
    .header_cont {
        flex-direction: column;
        gap: 30px;
    }

   
}

@media (max-width: 590px) {
    .footer_nav {
        flex-direction: column;

    }
}

@media (max-width: 489px) {
    .navigation_list {
        flex-direction: column;
    }
}