.season_promo {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/sesons/Group\ 18.jpg);
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.season_promo_sec {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/sesons/image\ 3.jpg);
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.season_promo_first {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/sesons/promobgk.jpg);
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.season_news {
    padding-top: 37px;
}

.swiper {
    height: 700px;

}

.swiper-slide img {
    width: 1800px;
}

.season_promo_sec h1,.season_promo h1 {
    font-size: clamp(5rem, 10vw, 2rem);
    /* font-size: 60px; */
    color: white;
    font-weight: 500;
    margin-bottom: 20px;
}

.season_promo_sec p,.season_promo p {
    /* font-size: 28px; */
    text-align: center;
    color: white;
    /* width: 1000px; */
    font-size: clamp(1.2rem, 2.1vw, 2rem);
}

@media (max-width: 864px) {
    .season_promo_sec h1, .season_promo h1 {
        text-align: center;
        font-size: clamp(3rem, 10vw, 2rem)
       
    }
}